.project {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 100px;
  padding-bottom: 50px;
  margin: 0 auto;
  max-width: 1346px;
  width: 100%;
}

.project-picture {
  margin-right: 50px;
}

.project-picture:nth-child(even) {
  margin-right: 0px;
  margin-left: 50px;
}

.project-picture__img {
  width: 800px;
  height: 463px;
}

@media (max-width: 1400px) {
  .project {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .project-picture__img {
    width: 600px;
    height: 363px;
  }
}

.project__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  margin-top: 0px;
  margin-bottom: 23px;
  color: #212121;
  margin: 0px;
}

@media (max-width: 1400px) {
  .project__title {
    font-size: 48px;
  }

  .project-picture__img {
    width: 450px;
    height: 263px;
  }
}

@media (max-width: 1400px) {
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-picture {
    margin-right: 0px;
  }

  .project-picture:nth-child(odd) {
    margin-bottom: 50px;
  }

  .project-picture:nth-child(even) {
    margin-top: 50px;
    margin-left: 0px;
  }

  .project-picture__img {
    width: 600px;
    height: 363px;
  }

  .project-wrap {
    width: 80%;
  }
}

@media (max-width: 850px) {
  .project-picture {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 630px) {
  .project-picture__img {
    width: 75%;
    height: 50%;
  }
}

.project__text {
  margin-top: 0px;
  margin-bottom: 28px;
  margin-right: 44px;
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #646464;
  margin-top: 40px;
  margin-bottom: 0px;
}
