.aboutUsPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1346px;
  width: 100%;
}

.aboutUsPage__wrap {
  margin: 0px 50px;
}

.aboutUsPage__picture {
  width: 700px;
  height: 400px;
}

@media (max-width: 800px) {
  .aboutUsPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .aboutUsPage__picture {
    width: 400px;
    height: 200px;
  }
}

@media (max-width: 500px) {
  .aboutUsPage__picture {
    width: 200px;
    height: 150px;
  }
}
